body{
  display:flex;
  flex-direction: row;

}
aside {
  width: 20%;
  height: 100vh;
  background-color: #181618;
  color:#A4A3A2;
  font-size: 12px;

}

.logo {
  width: 150px;
  position:relative;
  top:5vh;
  left:3vw;
}

h2 {
  font-size: 12px;
}

main {
  width: 85vw;
  height: 100vh;
  background-color: #303030;
    
}
h1 {
  font-size: 18px;
  color:whitesmoke;
  display: flex;
  justify-content: center;
  align-content: center;
}
.products_container {
  width: 90%;
  height: 100vh;
  position: relative;
  top:10vh;
  left:4vw;
  
}
.product {
  width: 150px;
}
.cart_container{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  position: relative;
  top:8vh;
  right:0.2vw
}
.product_count{
  position:relative;
  left:3vw;
}

.listOfProducts{
  position: relative;
  top:10vh;
  left:2vw;
    
}
.others{
  position:relative;
  top:11vh;
  left:2vw
}
cite{
  position: relative;
  top:80vh;
  left:1vw
}

li{
  font-size: 10px;
  margin: 4px;
}
h1{
  position: relative;
  right:33vw;
  top:5vh;
  color:whitesmoke
}